<div class="my-">
  <footer
    class="text-center text-lg-start border border-white mt-xl-5 pt-4"
  >
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 text-white">Популярное</h5>

          <ul class="list-unstyled mb-4">
            <li>
              <a href="#!">Программирование</a>
            </li>
            <li>
              <a href="#!">Книги для детей</a>
            </li>
            <li>
              <a href="#!">Психология</a>
            </li>
            <li>
              <a href="#!">Бизнес</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 text-white">Информация</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Доставка</a>
            </li>
            <li>
              <a href="#!">Оплата</a>
            </li>
            <li>
              <a href="#!">О магазине</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 text-white">Помощь</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Контакты</a>
            </li>
            <li>
              <a href="#!">Возврат товара</a>
            </li>
            <li>
              <a href="#!">Помощь покупателю</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4 text-white">
            +7 (707) 570-67-57
          </h5>

          <button type="submit" class="btn btn-outline-white btn-block">
            Заказать звонок
          </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border-top border-white text-white">
      Все права защищены © 2022-2022 Условия использования | Политика
      конфиденциальности
      <!-- <a class="text-white" href="https://mdbootstrap.com/"
        >MDBootstrap.com</a
      > -->
    </div>
    <!-- Copyright -->
  </footer>
</div>
